# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.swp
.idea/
conf/
data/
assets/sia/data/sc/address/
hdkeystore/keys/sogosdfo-VykdgSwVtbEWExc5AdNykKCDqgw8cBKLs2.key
!/vendor/vendor.json
mqnode/*

manager/openw_data/
openw-linux-amd64
openw-qtum
openw-btc
openw-qtum1
openw-*
build
.vscode/
